.checkbox-group {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-200);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--gray-200);
}

input[type="checkbox"],
input[type="checkbox"] + label {
  cursor: pointer;
  transition: border-color 0.2s;
}

input[type="checkbox"]:checked {
  background-image: url("../../assets/images/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--green-200);
  border-color: var(--green-200);
}

@media (hover: hover) {
  input[type="checkbox"]:hover {
    border-color: var(--green-200);
  }
}
