.password-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: clamp(1rem, 0.046rem + 4.071vi, 2rem);
  min-height: 100vh;
  background: var(--gradient);
  padding-inline: var(--spacing-200);
}

.password-generator__title {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  color: var(--gray-600);
}

.password-generator__form {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 0.046rem + 4.071vi, 2rem);
  max-width: 540px;
  width: 100%;
}
