.password-strength {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 0.046rem + 4.071vi, 2rem);
}

.password-strength__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.875rem, 0.279rem + 2.545vi, 1.5rem)
    clamp(1rem, 0.046rem + 4.071vi, 2rem);
  background-color: var(--gray-850);
}

.password-strength__wrapper-meter {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-200);
}

.password-strength__label {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  text-transform: uppercase;
  color: var(--gray-600);
}

.password-strength__text {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  text-transform: uppercase;
  color: var(--gray-200);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s,
    visibility 0.2s;
}

.password-strength__text.is-visible {
  opacity: 1;
  visibility: visible;
}

.password-strength__meter {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-100);
}

.meter-bar {
  display: inline-block;
  width: 10px;
  height: 28px;
  border: 2px solid var(--gray-200);
}

.meter-bar:nth-child(1).is-active {
  background-color: var(--red-500);
  border-color: var(--red-500);
}

.password-strength__meter:has(> .meter-bar:nth-child(2).is-active)
  > .meter-bar:nth-child(-n + 2) {
  background-color: var(--orange-400);
  border-color: var(--orange-400);
}

.password-strength__meter:has(> .meter-bar:nth-child(3).is-active)
  > .meter-bar:nth-child(-n + 3) {
  background-color: var(--yellow-300);
  border-color: var(--yellow-300);
}

.password-strength__meter:has(> .meter-bar:nth-child(4).is-active)
  > .meter-bar:nth-child(-n + 4) {
  background-color: var(--green-200);
  border-color: var(--green-200);
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--spacing-200);
  padding-block: clamp(1rem, 0.523rem + 2.036vi, 1.5rem);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  text-transform: uppercase;
  background-color: var(--green-200);
}
