.password-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--spacing-200);
  padding: var(--spacing-200);
  background-color: var(--gray-800);
}

.password-display__output {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  color: var(--white);
  flex: 1;
}

.password-display__output.is-placeholder {
  color: var(--gray-700);
}

.password-display__label-copy-btn {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  font-weight: 700;
  color: var(--green-200);
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s,
    visibility 0.2s;
}

.password-display__label-copy-btn.is-copy {
  opacity: 1;
  visibility: visible;
}

.password-display__copy-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .password-display__copy-btn:hover svg * {
    fill: var(--white);
  }
}
