.password-options {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-400);
  background-color: var(--gray-800);
  padding: var(--spacing-200);
}

.password-options__length {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-100);
}

.password-options__length-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-options__length-label .length-value {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  color: var(--green-200);
}

.password-options__checkboxes {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-200);
}

input[type="range"] {
  --value: 50%;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
  --progress-percent: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--spacing-100);
  background: linear-gradient(
    to right,
    var(--green-200) 0%,
    var(--green-200) var(--value),
    var(--gray-850) var(--value),
    var(--gray-850) 100%
  );
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: var(--spacing-100);
  background: var(--gray-850);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 28px;
  width: 28px;
  background: var(--gray-200);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8px;
  border: 2px solid var(--gray-200);
  transition:
    background 0.2s,
    border-color 0.2s;
}

input[type="range"]::-moz-range-thumb {
  height: 28px;
  width: 28px;
  background: var(--gray-200);
  border: 2px solid var(--gray-200);
  border-radius: 50%;
  cursor: pointer;
  transition:
    background 0.2s,
    border-color 0.2s;
}

@media (hover: hover) {
  input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--black);
    border-color: var(--green-200);
  }

  input[type="range"]::-moz-range-thumb:hover {
    background: var(--black);
    border-color: var(--green-200);
  }
}
